<h1>Director Details</h1>
  
  <p><strong>Name:</strong> <%= @director.name %></p>
  <p><strong>DOB:</strong> <%= @director.dob %></p>
  <p><strong>Bio:</strong> <%= @director.bio %></p>
  
  <img src="<%= @director.image_url %>">
    
  <a href="/directors" class="btn btn-default">
    Go back
  </a>
  
  <a href="/directors/<%= @director.id %>/edit" class="btn btn-default">
    Edit
  </a>
  
  <a href="/delete_director/<%= @director.id %>" class="btn btn-default">
    Delete
  </a>